@page "/"
@using SdWatchComponent

<label class="text-3xl text-light bg-secondary bg-gradient-to-r px-4 text-primary">
    Hello, SdWatch!
</label>
<hr />
<label class="text-2xl">@Alarm</label>
<hr />
<SdWatch1 Title="CURRENT TIME IS:" OnAlarmTime="@ShowAlarm"
         ComponentCssClass="shadow px-0 py-0 mt-8"
         TitleCssClass="text-white text-center bg-green-600 antialiased text-lg"
         DisplayCssClass="text-green-600 select-none px-8 border-2 border-green-600 bg-white text-5xl">
</SdWatch1>

<SdWatch Title="Текущее время:"
         ComponentCssClass="shadow rounded-sm mt-8  px-0 py-0  bg-gradient-tor"
         TitleCssClass="text-danger text-center text-sm text-uppercase"
         DisplayCssClass="text-red-600 text-center select-none px-8 border-0 border-red-600 bg-white text-3xl">
</SdWatch>


<style>
</style>

@code{

    private string Alarm { get; set; }

    private void ShowAlarm(DateTime time)
    {
        Alarm = time.ToLongTimeString();
        StateHasChanged();
    }
}
