@page "/"
@using SdWatchComponent

<label class="text-3xl bg-white px-4 text-green-900 rounded-lg">
    Hello, components!
</label>
<hr />
<label class="text-2xl">@Alarm</label>
<hr />
<SdWatch DisplayValue="" Title="CURRENT TIME IS:" OnAlarmTime="@ShowAlarm"
         ComponentCssClass="shadow px-0 py-0 rounded-sm mt-8"
         TitleCssClass="text-white text-center bg-green-600 antialiased text-lg"
         DisplayCssClass="text-green-600 select-none px-8 border-2 border-green-600 bg-white text-5xl">
</SdWatch>

<SdWatch
         ComponentCssClass="shadow py-0 rounded-xl mt-8 duration-150 transform hover:scale-125"
         TitleCssClass="text-white text-center bg-red-600 antialiased text-sm"
         DisplayCssClass="text-red-600 select-none px-8 border-0 border-red-600 bg-white text-3xl">
</SdWatch>


<style>
</style>

@code{
    public SdWatch watch;
    private string Alarm { get; set; }

    private void ShowAlarm(DateTime time)
    {
        Alarm = time.ToLongTimeString();
        StateHasChanged();
    }
}
